<div id="myCourseContainer">
    <h1>Ramschema</h1>

    <p id="text">På denna sida sparas ditt personliga ramschema. Skapa ditt ramschema genom att lägga till de kurser som
        intresserar dig mest på kurssidan.</p>

    <table>
        <thead>
            <tr>
                <!-- Vid klick på Kurskod, Kursnamn eller Progression sorteras innehållet i bokstavsordning för den valda kolumnen-->
                <th id="courseCode"><b>Kurskod</b></th>
                <th id="courseName"><b>Kursnamn</b></th>
                <th id="points"><b>Poäng</b></th>
                <th id="subject"><b>Ämne</b></th>
                <th id="syllabus"><b>Länk</b></th>
                <th><b>Ta bort</b></th>
            </tr>
        </thead>
        <tbody id="table">
            <!-- En *ngFor-loop som skriver ut kurser i tabellen -->
            <tr *ngFor="let course of myCourses; let i = index">
                <td>{{course.courseCode}}</td>
                <td>{{course.courseName}}</td>
                <td>{{course.points}}</td>
                <td>{{course.subject}}</td>
                <td> <a [href]="course.syllabus" target="_blank">Läs mer</a></td>
                <td><button (click)="deleteCourse(i)">Ta bort</button></td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="myCourses.length === 0">Du har inga sparade kurser...</p>
    <p *ngIf="myCourses.length > 0">Antal sparade kurser: {{ myCourses.length }}</p>
    <p *ngIf="myCourses.length > 0">Antal poäng: {{ calculatePoints() }}</p>
</div>