<div id="homeContainer">
    <div id="heroImg">
    </div>
    <div id="heroText">
        <h1>Din dröm börjar här!</h1>
        <p>Låt drömmen bli verklighet. Vi har utbildningarna som hjälper dig att nå dina mål och forma din framtid.
        </p>
        <a class="btn" routerLink="/courses" routerLinkActive="current">Våra kurser</a>
    </div>

    <div id="infoText">
        <h2>Välkommen till Multiversitetet!</h2>
        <p> Vi har utbildningar inom en mängd olika ämnen. På denna webbplats kan du söka bland alla våra utbildningar
            och även sätta ihop ett eget ramschema. Det vill säga ett schema som passar just dig. Oavsett vad du har för
            intresse
            så har vi kurser som kan hjälpa dig att nå dina mål och förverkliga dina drömmar.</p>
    </div>


    <div id="aboutBackground">
        <div id="aboutText">
            <h2>Om oss</h2>
            <p>Multiversitetet, grundat 2024, är ett av Sveriges nyaste universitet. Vår vision är att skapa en
                innovativ
                lärandemiljö som utmanar traditionella gränser. Vi strävar också efter att främja mångfald och
                kreativitet.</p>
        </div>
    </div>

    <div id="whyUs">
        <div id="whyUsText">
            <h2>Varför Multiversitetet?</h2>
            <ul>
                <li>Brett utbud av utbildningar</li>
                <li>Flexibelt schema</li>
                <li>Personligt stöd</li>
                <li>Inkulderande gemenskap</li>
            </ul>
        </div>

        <div id="whyUsImg">
            <img src="assets/images/about.jpg" alt="Student som blickar åt vänster">
        </div>
    </div>

    <div id="joinUs">
        <h2>Bli en del av gemenskapen!</h2>
    </div>
</div>